# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserdatad/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcresult
*.playground/

# Local build output
DerivedData/
/build/
/.build/
.swiftpm/

# Packaged products
*.app
AltTabMacOS.app.zip
*.dSYM
*.dSYM.zip
*.ipa
*.xcarchive

# Local signing/configuration overrides
*.xcconfig
ExportOptions.plist
